#include <resource.h>

#define ICO_MAIN      0x1000
#define DLG_MAIN      1
#define IDC_ONTOP     101
#define IDC_SHOWBMP   102
#define IDC_MODALFRAME 103
#define IDC_THICKFRAME  104
#define  IDC_SCROLL    105
#define IDC_VALUE 106
#define IDC_LISTBOX1 107
#define IDC_LISTBOX2 108
#define IDC_VALUE2 109
#define IDC_VALUE3 110
#define IDC_VALUE4 111
#define IDC_BACK 112
#define ID_STATUSBAR 4
ICO_MAIN ICON "2.ico"
ICO_BACK BITMAP "12.bmp"
DLG_MAIN DIALOG 200,300,550,200
STYLE DS_MODALFRAME|WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME
CAPTION "对话框模板"
FONT 9 , "宋体"
{
GROUPBOX "选项",-1,55,5,120,100
AUTOCHECKBOX "总在最前面",IDC_ONTOP,65,20,100,12
AUTOCHECKBOX "显示图片",IDC_SHOWBMP,65,35,100,12
CONTROL "HEHE!",-1,"Static",SS_ETCHEDHORZ|WS_CHILD|WS_VISIBLE,60,65,110,1
AUTORADIOBUTTON "模态边框",IDC_MODALFRAME,65,70,100,12,WS_TABSTOP
AUTORADIOBUTTON "可变边框",IDC_THICKFRAME,65,85,100,12,WS_TABSTOP
LISTBOX IDC_LISTBOX1,205,30,50,60,LBS_STANDARD
LISTBOX IDC_LISTBOX2,265,30,50,60,LBS_STANDARD|LBS_MULTIPLESEL
SCROLLBAR IDC_SCROLL 6,119,125,10
LTEXT "0",IDC_VALUE,138,120,50,8
LTEXT "0",IDC_VALUE2,168,120,50,8
LTEXT "0",IDC_VALUE3,198,120,50,8
LTEXT "0",IDC_VALUE4,228,120,50,8
ICON ICO_MAIN,-1,10,11,18,21
CTEXT "简单对话框例子\n用Win32ASM编写",-1,180,14,100,19
DEFPUSHBUTTON "退出(&X)",IDOK,210,90,50,14
}