#define IDM_FINDPREV			2208
#define IDM_FINDNEXT			2209
#define IDM_OPEN			2101
#define IDM_SAVE			2102
#define IDM_UNDO			2201
#define IDM_REDO			2202
#define IDM_SELALL			2203
#define IDM_COPY			2204
#define IDM_CUT				2205
#define IDM_PASTE			2206
#define IDM_FIND			2207
IDA_MAIN ACCELERATORS DISCARDABLE
BEGIN
  113,IDM_FINDPREV,VIRTKEY,NOINVERT
  114,IDM_FINDNEXT,VIRTKEY,NOINVERT
  79,IDM_OPEN,VIRTKEY,NOINVERT,CONTROL
  83,IDM_SAVE,VIRTKEY,NOINVERT,CONTROL
  90,IDM_UNDO,VIRTKEY,NOINVERT,CONTROL
  82,IDM_REDO,VIRTKEY,NOINVERT,CONTROL
  65,IDM_SELALL,VIRTKEY,NOINVERT,CONTROL
  67,IDM_COPY,VIRTKEY,NOINVERT,CONTROL
  88,IDM_CUT,VIRTKEY,NOINVERT,CONTROL
  86,IDM_PASTE,VIRTKEY,NOINVERT,CONTROL
  70,IDM_FIND,VIRTKEY,NOINVERT,CONTROL
END
