#define IDR_MENU 10000
#define IDM_OPEN 10002
#define IDM_NEW 10001
#define IDM_SELECT2 10006
#define IDM_SELECT1 10005
#define IDM_SEARCH 10003
#define IDM_NONE 10007
#define IDM_GRAY 10004
#define IDM_CHECK 10011
#define IDM_CHECK1 10008
#define IDM_CHECK2 10009
#define IDM_CHECK3 10010
IDR_MENU MENUEX
BEGIN
  POPUP "打开\tCtrl+O",IDM_OPEN
  BEGIN
    MENUITEM "新建\tAlt+F",IDM_NEW
    MENUITEM "选择2",IDM_SELECT2
    MENUITEM "选择1",IDM_SELECT1
  END
  POPUP "查看",IDM_SEARCH
  BEGIN
    MENUITEM "非激活菜单",IDM_NONE,,0x00000002
    MENUITEM "灰化的菜单",IDM_GRAY,,0x00000001
    POPUP "多选",IDM_CHECK
    BEGIN
      MENUITEM "多选1",IDM_CHECK1
      MENUITEM "多选2",IDM_CHECK2
      MENUITEM "多选3",IDM_CHECK3
    END
  END
END
